body {
  font-family: Arial, sans-serif;
}

.container {
  box-sizing: border-box;
  position: relative;
  margin: 150px 50px;
}

.button {
  width: 300px;
  height: 50px;
  border: 1px solid rgb(196, 42, 42);
  background: rgb(196, 42, 42);
  border-radius: 5px;
  color: #ffffff;

  font-size: 20px;
}

.popovers {
  position: absolute;
  width: 310px;
  background: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #777777;
  border-radius: 5px;
  z-index: 999;
}

.popovers:before,
.popovers:after {
  content: "";
  position: absolute;
}

.popovers:before {
  border-left: 10px solid rgba(113, 101, 58, 0);
  border-right: 10px solid rgba(113, 101, 58, 0);
  border-top: 10px solid #777777;
  left: 155px;
  bottom: -10px;

}

.popovers:after {
  border-left: 10px solid rgba(255, 241, 190, 0);
  border-right: 10px solid rgba(255, 241, 190, 0);
  border-top: 10px solid #ffffff;
  left: 155px;
  bottom: -9px;
}

.popovers-title {
  padding: 10px 10px;
  margin: 0;
  background: #f0f8ff;
}

.popovers-content {
  padding: 10px 10px;
  margin: 0;
}